@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    color: $default;
    transition: all 0.3s;
    @extend %poppins-700;
  }
}

.user-nav{
  display: flex;
  &__item-search,
  &__item-more{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-search{
    background-color: #edf1f4;
    margin-right: 20px;
  }
  &__item-more{
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__item-connection{
    position: relative;
    display: flex;
    width: 177px;
    height: 50px;
    border-radius: 25px;
    background-color: $header;
  }
  &__item-connection::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 9px;
    left: 88px;
  }
  &__link-heart{
    position: relative;
    left: 40px;
    top: 22px;
    height: 17px;
  }
  &__link-cart{
    position: relative;
    left: 100px;
    top: 22px;
    height: 17px;
  }
  &__num{
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $title;
    @extend %dmsans-400;
  }
}

.footer-top{
  padding: 75px 0 75px;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  justify-content: space-between;
  &__item{
    width: 200px;
  }
  &__logo{
    display: inline-block;
    margin-bottom: 30px;
  }
  &__adress,
  &__phone,
  &__email{
    display: block;
  }
  &__title{
    font-size: 16px;
    line-height: 21px;
    color: $contacttitle;
    text-transform: uppercase;
    margin: 20px 0 35px;
  }
  &__forms{
    width: 270px;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    color: $contacttext;
    margin-bottom: 35px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #fef7f0;
    line-height: auto;
    padding: 8px 0 8px 15px;
  }
  &__form-input::placeholder{
    font-size: 12px;
    color: #234969;
    @extend %dmsans-400;
  }
  &__form-btn{
    max-width: 100px;
    width: 100%;
    height: 40px;
    border: none;
    @extend %btn;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    font-size: 14px;
    line-height: 32px;
    color: $contacttext;
  }
  &__list{
    display: flex;
  }
  &__item{
    position: relative;
    margin-left: 30px;
  }
  &__item::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 1px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background-color: $contacttext;
  }
  &__item:first-child{
    margin-left: 0px;
      &::before{
      height: 0px;
      width: 0px;
      top: 0;
      left: 0;
    }
  }
}

.top-slider{
  background-color: $header;
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 45px;
  display: flex;
  justify-content: center;
  &__container{
    max-width: 1430px;
  }
  &__item{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
  }
  &__info{
    margin: 120px 0 0 130px;
    width: 420px;
  }
  &__info-title{
    width: 430px;
    font-size: 72px;
    line-height: 70px;
    color: $title;
    font-weight: 600;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__info-text{
    width: 360px;
    font-size: 18px;
    line-height: 30px;
    color: $default;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__info-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 15px;
    line-height: 12px;
    color: $white;
    background-color: $suptext;
    padding: 20px 20px 20px 30px;
  }
  &__info-img{
    width: 22px;
    height: 9px;
  }
  &__content{
    position: relative;
    margin-right: 15px;
  }
  &__content-img{
    position: absolute;
    top: 175px;
    right: 120px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    li{
      padding: 0;
      line-height: 0;
      margin: 0 5px;
      button{
        padding: 0;
        font-size: 12px;
        line-height: 8.7px;
        @extend %rubik-500;
        color: #243f4d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        text-align: center;
        opacity: .5;
        font-family: 'Rubik-Medium' sans-serif;
        font-weight: 600;
      }
      &.slick-active{
        button{
        opacity: 1;
        }
      }
    }
  }
}


.top-bottom{
  max-width: 1770px;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #fef7f0;
  &__item{
    position: relative;
    width: 370px;
    padding-left: 100px;
    &:nth-child(1)::before{
      position: absolute;
      content: "";
      width: 51px;
      height: 53px;
      background-image: url(../images/header/support.svg);
      background-repeat: no-repeat;
      background-size: cover;
      left: 25px;
      top: 10px;
    }
    &:nth-child(2)::before{
      position: absolute;
      content: "";
      width: 53px;
      height: 36px;
      background-image: url(../images/header/delivery.svg);
      background-repeat: no-repeat;
      background-size: cover;
      left: 25px;
      top: 10px;
    }
    &:nth-child(3)::before{
      position: absolute;
      content: "";
      width: 53px;
      height: 53px;
      background-image: url(../images/header/payment.svg);
      background-repeat: no-repeat;
      background-size: cover;
      left: 25px;
      top: 10px;
    }
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    color: $subtitle;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: $text;
  }
}

.products{
  margin: 70px 0 80px;
  &__filter{
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 75px;
  }

  &__filter-btn.mixitup-control-active{
    color: $suptitle;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    min-width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    position: relative;
  }
  &__item-add{
    position: absolute;
    width: 170px;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }
  &__item-add__inner{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
  }
  &__item-images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item:hover{
    .products__item-add{
      z-index: 10;
    }
    svg{
      path{
        fill:#a3bbc8;
      }
    }
  }
  &__item-add__inner:hover{
    background-color: #a3bbc8;
    svg{
      path{
        fill:#fff;
      }
    }
  }
  &__item-inner{
    width: 270px;
    height: 270px;
    position: relative;
    margin-bottom: 30px;
  }
  &__item-img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &__item-title{
    font-size: 16px;
    color: $title;
    @extend %dmsans-500;
  }
  &__item-text{
    color: $suptext;
    @extend %dmsans-700;
  }
  &__item-box__inner{
    display: none;
  }
}

.products__item{
  &.products__item--list{
    min-width: 100%;
    height: 500px;
    display: flex;
    text-align: left;
    box-shadow: none;
    position: relative;
    .products__item-inner{
      min-width: 370px;
      height: 500px;
      border: 2px solid #f2f2f2;
      margin-right: 60px;
    }
    .products__item-img{
      width: 65%;
    }
    .products__item-info{
      display: none;
    }
    .products__item-box{
      max-width: 415px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #333333;
    }
    .products__item-box__inner{
      display: block;
      margin-bottom: 30px;
    }
    .products__item-add{
      position: relative;
      transform: none;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .products__item-add__inner{
      position: absolute;
      width: 50px;
      min-height: 50px;
      border-radius: 0;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      svg{
        path{
          fill:#a3bbc8; 
        }
      }
      &:hover{
        background-color: #a3bbc8; 
        svg{
          path{
            fill:#fff;
          }  
        }
      }
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        left: 0;
        z-index: 100;
        position: relative;
        background-color: #a3bbc8;
        // transition: all 0.5s; тоже интересно
        transition: all 0.1s;  
        &:hover{
          transition: all 0.5s;
          width: 208px;
          height: 50px;
          border-radius: 5px;
          position: relative; 
          &::before{
            position: absolute;
            content: 'Add to cart';
            text-transform: uppercase;
            width: 110px;
            font-size: 15px;
            line-height: 30px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          svg{
            display: none;
          }
        }
        svg{
          path{
            fill:#fff;
          }
        }
      }
      &:nth-child(3){
        left: 60px;
      }
    }
    .products__item-box__title{
      @extend %rubik-400;
      font-size: 40px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .products__item-box__price{
      @extend %rubik-400;
      font-size: 30px;
      line-height: 45px;
      margin: 20px 0;
    }
    .products__item-box__text{
      font-size: 16px;
      line-height: 30px;
      color: $title;
    }
    .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    .jq-ry-container>.jq-ry-group-wrapper {
      width: 120px;
    }
  }  
}
  

.additionally{
  margin: 190px 0 100px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 49%;
    height: 390px;
    background-color: #feefe2;
  }
  &__mirum{
    padding: 100px 0 0 370px;
    position: relative;
  }
  &__malesuada{
    padding: 85px 0 0 370px;
    position: relative;
  }
  &__mirum::before{
    content: "";
    position: absolute;
    background-image: url(../images/mirum.png);
    display: block;
    width: 233px;
    height: 405px;
    left: 120px;
    bottom: 0;
  }
  &__malesuada::before{
    content: "";
    position: absolute;
    background-image: url(../images/malesuada.png);
    display: block;
    width: 222px;
    height: 399px;
    left: 120px;
    bottom: 0px;
  }
  &__title{
    width: 250px;
    font-size: 26px;
    line-height: 32px;
    color: $title;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $title;
    @extend %dmsans-400;
    margin: 5px 0 30px;
  }
  &__text:nth-child(1){
    width: 350px;
  }
  &__text:nth-child(2){
    width: 300px;
  }
  &__link{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 12px;
    color: $default;
    @extend %rubik-500;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 23px 90px 23px 20px;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url(../images/arrow-blue.svg);
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 9px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%)
  }
}

.design{
  margin: 100px 0 120px;
  &__filter{
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 75px;
  }
  &__filter-btn.mixitup-control-active{
    color: $suptitle;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 34px 30px;
  }
  &__item{
    position: relative;
    padding: 40px 0 0 30px;
    width: 370px;
    height: 250px;
    background-color: $poduct;
    z-index: 1;
  }
  &__item-title{
    width: 175px;
    font-size: 20px;
    line-height: auto;
    color: $suptitle;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__item-text{
    font-size: 16px;
    line-height: auto;
    color: $suptext;
    @extend %dmsans-700;
  }
  &__inner{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
  &__armchair{
    position: absolute;
    bottom: 45px;
    right: 55px;
    z-index: -10;
  }
  &__chair{
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: -10;
  }
}

.video-popup{
  width: 100%;
  min-height: 500px;
  background-image: url(../images/video-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}

.info{
  position: relative;
  &__inner{
    width: 100%;
    height: auto;
    margin-top: 250px;
    background-color: #fef7f0;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title{
    text-align: left;
  }
  &__top-link{
    font-size: 16px;
    line-height: auto;
    @extend %dmsans-700;
    color: $infotext;
    padding-right: 25px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow-right.svg);
      width: 6px;
      height: 11px;
      right: 0;
      top: 10px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    min-height: 170px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
  }
  &__item-img{
    width: 370px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: -250px;
  }
  &__img{
    transition: all 0.5s;
    &:hover{
      transform: scale(1.3);
    }
  }
  &__new{
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    @extend %poppins-700;
    background-color: #a3bbc8;
    padding: 10px 30px;
    border-radius: 50px;
    position: absolute;
    left: 28px;
    top: -25px;
  }
  &__content{
    min-height: 180px;
    padding: 25px 28px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__text{
    max-width: 275px;
    font-size: 18px;
    line-height: 26px;
    color: $infotext;
    @extend %dmsans-500;
    margin-bottom: 12px;
  }
  &__info{
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding-top: 12px;
  }
  &__date{
    margin-left: 25px;
  }
  &__author,
  &__date{
    font-size: 12px;
    line-height: 30px;
    color: $infosubtext;
    @extend %rubik-400;
  }
}

.partners{
  width: 100%;
  background-color: $bot-hed;
  &__content{
    width: 1170px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.top{
  background-color: #edf1f4;
  padding: 35px 0;
  &__title{
    @extend %rubik-400;
    padding-bottom: 8px;
  }
}

.creative{
  padding: 120px 0;
  color: $title;
  &__inner{
    display: flex;
  }
  &__box-img{
    width: 570px;
    height: 675px;
  }
  &__info{
    width: 560px;
    padding: 80px 0 90px 45px;
  }
  &__date{
    display: flex;
    margin-bottom: 40px;
  }
  &__date-num{
    font-size: 140px;
    line-height: 110px;
    @extend %rubik-700;
    color: $suptext;
    margin-right: 25px;
    display: flex;
    align-items: center;
    
  }
  &__date-info{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-top: 25px;
  }
  &__title{
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    padding-bottom: 60px;
    margin-bottom: 45px;
    border-bottom: 2px solid #e6eaf0;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    @extend %dmsans-700;
  }
  &__box-title{
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 5px;
  }
  &__box-text{
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
  &__box-inner{
    padding-left: 85px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
    }
    &:nth-child(1){
      padding-left: 50px;
      &::after{
        display: none;
      }
    }
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before{
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1)::before{
      background-image: url(../images/icons/list.svg);
      width: 37px;
      height: 38px;
      left: 0px;
    }
    &:nth-child(2)::before{
      background-image: url(../images/icons/repost.svg);
      width: 44px;
      height: 40px;
      left: 20px;
    }
    &:nth-child(3)::before{
      background-image: url(../images/icons/medal.svg);
      width: 43px;
      height: 42px;
      left: 20px;
    }
  }
}

.about-info{
  width: 100%;
  background-color: $header;
  padding: 85px 0 80px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 270px;
    width: 100%;
    text-align: center;
    @extend %dmsans-700;
    color: $title;
    margin-top: 90px;
    position: relative;
    &:nth-child(1)::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before,
    &:nth-child(4)::before{
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(1)::before{
      background-image: url(../images/about-info/1.svg);
      width: 73px;
      height: 59px;
      top: -84px;
    }
    &:nth-child(2)::before{
      background-image: url(../images/about-info/2.svg);
      width: 72px;
      height: 51px;
      top: -75px;
    }
    &:nth-child(3)::before{
      background-image: url(../images/about-info/3.svg);
      width: 78px;
      height: 64px;
      top: -86px;
    }
    &:nth-child(4)::before{
      background-image: url(../images/about-info/4.svg);
      width: 60px;
      height: 64px;
      top: -86px;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  &__text{
    font-size: 18px;
    line-height: 32px;
  }
}

.about-team{
  margin: 120px 0;
  &__inner{
    display: flex;
  }
  &__info{
    max-width: 330px;
    padding-left: 22px;
    margin-right: 100px;
    color: $title;
  }
  &__title{
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 40px;
  }
  &__link{
    position: relative;
    display: inline-block;
    width: 170px;
    height: 50px;
    font-size: 15px;
    line-height: 55px;
    @extend %poppins-700;
    color: #fff;
    background-color: $suptext;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    &::after{
      content: "";
      background-image: url(../images/icons/arrow-white.svg);
      position: absolute;
      width: 15px;
      height: 11px;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    min-height: 380px;
    position: relative;
  }
  &__box-img{
    width: 370px;
    height: 320px;
    object-fit: cover;
    overflow: hidden;
  }
  &__img{
    transition: all 0.5s;
    &:hover{
      transform: scale(1.3)
    }
  }
  &__wrapper{
    position: absolute;
    width: 325px;
    height: 111px;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper-title{
    font-size: 22px;
    line-height: 26px;
    @extend %dmsans-700;
    color: $default;
    margin-bottom: 10px;
  }
  &__wrapper-text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #565872;
  }
  &__wrapper-link{
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #f6f6f6;
    position: relative;
    &:last-child{
      margin: 0 20px 0 7px;
    }
  }
  &__wrapper-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.terms{
  padding: 120px 0;
  &__item{
    margin-bottom: 50px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    font-size: 24px;
    line-height: 40px;
    @extend %rubik-500;
    color: $title;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: $title;
  }
  &__list-item{
    display: flex;
  }
  &__span{
    margin-right: 10px;
  }
}

.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    min-width: 270px;
    margin-right: 30px;
  }
}

.filter{
  &__item{
    margin-bottom: 70px;
  }
  &__title{
    display: inline-block;
    text-transform: uppercase;
    color: $title;
    font-size: 18px;
    line-height: auto;
    margin-bottom: 25px;
    padding-right: 55px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      background-color: $suptext;
      right: 0;
      top: 11px;
    }
  }
}

.filter-category{
  &__label{
    margin-bottom: 3px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    font-size: 16px;
    line-height: 43px;
    background-color: transparent;
    border-radius: 5px;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      background-image: url(../images/icons/arrow-categiry.svg);
      right: 22px;
      top: 50%;
      transform: translateY(-50%)
    }
  }
}

.filter-price{
  &__label{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,
.irs--flat .irs-min, .irs--flat .irs-max,
.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-line{
  top: 15px;
  height: 3px;
  width: 100%;
  background-color: $suptext;
}
.irs--flat .irs-bar{
  top: 14px;
  height: 5px;
  background-color: $suptext;
}
.irs--flat .irs-handle{
  top: 9px;
  width: 15px;
  height: 15px; 
  background-color: $suptext;
}

.filter-brand{
  &__label{
    margin-bottom: 3px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    font-size: 16px;
    line-height: 43px;
    background-color: transparent;
    border-radius: 5px;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
  }
  &__num{
    width: 70px;
    text-align: center;
  }
}

.filter-recent{
  &__item{
    display: flex;
    height: 70px;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__img{
    border: 3px solid #f2f2f2;
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  &__info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  &__price{
    font-size: 15px;
    line-height: 27px;
    color: #333333;
  }
}
.jq-ry-container{
  padding: 0;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
  margin-right: 6px;
  &:last-child{
    margin-right: 0;
  }
}

.jq-ry-container>.jq-ry-group-wrapper{
  width: 84px;
}
.shop-content{
  width: 100%;
  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .products__item{
      margin-bottom: 40px;
    }
  }
  &__filter{
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 20px 25px 20px 30px;
    margin-bottom: 40px;
  }
  &__filter-buttons{
    display: flex;
    align-items: center;
  }
  &__filter-btn{
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    height: 15px;
    line-height: 0;
    cursor: pointer;
    &.shop-content__filter-btn--active{
      path{
        fill: $title;
      }
    }
  }
}

.product-page{
  padding: 120px 0 100px;
}

.product-one{
  @extend %rubik-400;
  color: #243f4d;
  &__inner{
    display: flex;
  }
  &__slider{
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  &__title{
    font-size: 40px;
    line-height: 26.5px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 25px;
  }
  &__star{
    width: 135px !important;
    .jq-ry-group-wrapper{
      width: 100%;
      .jq-ry-group>svg{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  &__price{
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin: 25px 0 20px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__form{
    margin-bottom: 50px;
  }
  &__num{
    width: 148px;
    height: 53px;
    padding: 0;
    position: relative;
    margin-right: 12px;
    .jq-number__field{
      width: 148px;
      height: 53px;
    }
    .jq-number__field input {
      padding: 16px 50px;
      font-size: 15px;
      line-height: 45px;
      color: #333333;
      outline: none;
      border: 1px solid $suptext;
      text-align: center;
    }
    .jq-number {
      padding: 0;
      position: relative;
    }
    .jq-number__spin{
      position: absolute;
      cursor: pointer;
      top: 0;
      width: 50px;
      height: 53px;
      border: 1px solid $suptext;
      position: absolute;
    }
    .jq-number__spin.minus{
      left: 0;
    }
    .jq-number__spin.plus{
      right: 0;
    }
    .jq-number__spin::after{
      position: absolute;
      content: "";
      width: 9px;
      height: 1px;
      background-color: #222;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .jq-number__spin.plus::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 9px;
      background-color: #222;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__btn{
    @extend %btn;
    width: 208px;
    height: 53px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  &__item-info{
    line-height: 30px;
    color: $title;
    margin-bottom: 10px;
  }
}


.product-slider{
  display: flex;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 25px;
    border: none;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .slick-slide .slick-current{
    width: 140px;
    height: 160px;
  }
  &__little{
    width: 140px;
    margin-right: 25px;
  }
  &__little-item{
    width: 140px;
    height: 160px;
    cursor: pointer;
    border: 2px solid #f2f2f2;
    img{
      width: 140px;
      height: 156px;
      object-fit: contain;
    }
  }
  &__big{
    width: 390px;
    height: 530px;
  }
  &__big-item{
    width: 390px;
    height: 530px;
    border: 2px solid #f2f2f2;
    position: relative;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 233px;
      height: 405px;
      object-fit: cover;
    }
  }
}

































@import 'media';