<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/terms.min.css">
</head>
<body>
  
  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="terms">
      <div class="container">
        <div class="terms__inner">
          <div class="terms__item">
            <h3 class="terms__title">Types of Personal Information We Collect</h3>
            <ul class="terms__list">
              <li class="terms__list-item terms__text">
                <span class="terms__span">01.</span>
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </li>
              <li class="terms__list-item terms__text">
                <span class="terms__span">02.</span>
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </li>
              <li class="terms__list-item terms__text">
                <span class="terms__span">03.</span>
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </li>
              <li class="terms__list-item terms__text">
                <span class="terms__span">04.</span>
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </li>
              <li class="terms__list-item terms__text">
                <span class="terms__span">05.</span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              </li>
            </ul>
          </div>
          <div class="terms__item">
            <h3 class="terms__title">How marketpmss.com Collects Personal Infonnation</h3>
            <p class="terms__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
          <div class="terms__item">
            <h3 class="terms__title">How marketprosscom Uses Personal Information</h3>
            <p class="terms__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>
      </div>
    </section>

    <section class="info">
      <div class="container">
        <div class="info__top">
          <div class="info__title title">Our Insights & Articles</div>
          <a class="info__top-link" href="#">View All</a>
        </div>
      </div>
      <div class="info__inner">
        <div class="container">
          <div class="info__items">
            <div class="info__item">
              <a class="info__item-link" href="#">
                <div class="info__item-img">
                  <img class="info__img" src="images/info/1.jpg" alt="">
                </div>
                <p class="info__new">NEWS</p>
                <div class="info__content">
                  <p class="info__text">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>
                  <div class="info__info">
                    <a class="info__author" href="#"> 28 JANUARY, 2020</a>
                    <div class="info__date"> BY ADMIN</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="info__item">
              <a class="info__item-link" href="#">
                <div class="info__item-img">
                  <img class="info__img" src="images/info/2.jpg" alt="">
                </div>
                <p class="info__new">NEWS</p>
                <div class="info__content">
                  <p class="info__text">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  </p>
                  <div class="info__info">
                    <a class="info__author" href="#"> 28 JANUARY, 2020</a>
                    <div class="info__date"> BY ADMIN</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="info__item">
              <a class="info__item-link" href="#">
                <div class="info__item-img">
                  <img class="info__img" src="images/info/3.jpg" alt="">
                </div>
                <p class="info__new">NEWS</p>
                <div class="info__content">
                  <p class="info__text">Rncididunt ut labore et dolore magna aliqua. Ut enim</p>
                  <div class="info__info">
                    <a class="info__author" href="#"> 28 JANUARY, 2020</a>
                    <div class="info__date"> BY ADMIN</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="partners">
        <div class="container">
          <div class="partners__inner">
            <div class="partners__content">
              <div class="partners__box-img">
                <img class="partners__img" src="images/partners/1.png" alt="">
              </div>
              <div class="partners__box-img">
                <img class="partners__img" src="images/partners/2.png" alt="">
              </div>
              <div class="partners__box-img">
                <img class="partners__img" src="images/partners/3.png" alt="">
              </div>
              <div class="partners__box-img">
                <img class="partners__img" src="images/partners/4.png" alt="">
              </div>
              <div class="partners__box-img">
                <img class="partners__img" src="images/partners/5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>
</html>